<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
  <body>
      
    <div>
      
      <% details.forEach(detail => { %>
      <li class="each">
        <div class="details">
            <p><%= detail.username %></p>
            <p><%= detail.Description %></p>
            <p><%= detail.MoneySpent %></p>
        </div>
       
          <%}) %>
        
        </li>


      
    </div>
  
 
    
  </body>
</html>